@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

.card {
  text-decoration: none;
  outline: none;
  flex-grow: 1;
  width: 220px;
  max-width: 300px;
  height: 400px;
  overflow: hidden;
  color: #777777;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 0 3px rgba(0, 0, 0, 0.4);
  border-radius: 9px;
  transition: all 0.3s;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
}
.card:hover, .card:focus {
  transform: scale(1.03) skewX();
  transform-origin: bottom;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.card__image-container {
  height: 200px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 200px, 0 180px);
  clip-path: polygon(0 0, 100% 0, 100% 200px, 0 180px);
}
.card:hover .card__image-container, .card:focus .card__image-container {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 190px, 0 200px);
  clip-path: polygon(0 0, 100% 0, 100% 190px, 0 200px);
}
.card__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.2s;
}
.card:hover .card__image, .card:focus .card__image {
  transform: scale(1.4) rotate(5deg);
  transform-origin: center;
}
.card__content {
  padding: 1em;
}

.card__price {
  text-align: center;
  font-size: large;
  font-weight: bold;
  color: #777777;
}

.card__button {
  background-color: #4CA686;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  color: #fff;
  cursor: pointer;
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  text-align: center;
  text-decoration: none;
  margin-top: auto;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 6px;
}

.card__button:hover {
  background-color: #349674;
}

.card__button:focus {
  box-shadow: rgba(46, 164, 79, 0.4) 0 0 0 3px;
  outline: none;
}

.card__button:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, 0.2) 0 1px 0 inset;
}

/***********************************
            HEADER
***********************************/
.main-header {
  display: flex;
  flex-direction: column;
}
@media (max-width: 768px) {
  .main-header {
    flex-direction: column-reverse;
  }
}

#menu {
  display: none;
}
#menu:checked + .nav-bar {
  display: block;
}
#menu:checked ~ .search-bar .menu-toggle__label {
  background-color: yellow;
}

/***********************************
            NAV BAR
***********************************/
.nav-bar {
  background-color: #f7f1f1;
  display: flex;
  justify-content: center;
}
.nav-bar__nav-list {
  display: flex;
  list-style-type: none;
  justify-content: center;
}
@media (max-width: 768px) {
  .nav-bar__nav-list {
    flex-direction: column;
  }
}
.nav-bar__nav-item {
  text-align: center;
}
.nav-bar__nav-link {
  display: block;
  color: #777777;
  padding: 1em;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.2em;
}
.nav-bar__nav-link:hover {
  color: #4CA686;
}
.nav-bar__nav-link:active {
  color: purple;
}
@media (max-width: 768px) {
  .nav-bar {
    display: none;
  }
}

/***********************************
            SEARCH BAR
***********************************/
.search-bar {
  background-color: #f7f1f1;
  display: flex;
  align-items: center;
  padding-left: 1em;
  color: #503d3d;
}
.search-bar__name {
  color: #4CA686;
}
.search-bar__logo-container, .search-bar__form-container {
  padding: 1em;
}
.search-bar__logo-container {
  background-color: #f7f1f1;
}
.search-bar__form-container {
  background-color: #f7f1f1;
  flex-basis: 100%;
  height: 4em;
  display: flex;
  justify-content: center;
}
.search-bar__form-label {
  background-color: #f7f1f1;
}
.search-bar__form-search {
  background-color: #f7f1f1;
  width: 12em;
  margin-left: 1em;
  margin-right: 1em;
  border-radius: 2px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 0 3px rgba(0, 0, 0, 0.4);
  border: none;
}
.search-bar__form-search:focus {
  outline: none;
}
.search-bar__form-submit {
  background-color: #f7f1f1;
  border: none;
  cursor: pointer;
}
.search-bar__carrito-container {
  display: flex;
  padding: 1em;
  border: solid 2px;
  border-top: black;
  border-right: black;
  border-bottom: black;
  align-items: center;
  background-color: #f7f1f1;
  cursor: pointer;
}
@media (max-width: 425px) {
  .search-bar__name {
    display: none;
  }
  .search-bar__form-container {
    width: 12%;
  }
  .search-bar__logo-container {
    height: 2em;
    align-self: flex-start;
  }
}
@media (max-width: 375px) {
  .search-bar__carrito-container {
    width: 2em;
    padding-left: 10px;
  }
}
@media (max-width: 320px) {
  .search-bar {
    padding-left: 0;
  }
  .search-bar__form-search {
    width: 11.5em;
    padding-left: 0;
  }
  .search-bar__form-container {
    padding-left: 0;
  }
  .search-bar__carrito-container {
    width: 2em;
    padding-left: 3px;
    margin-left: 0.6em;
  }
}

/***********************************
            MENU TOGGLE
***********************************/
.menu-toggle {
  display: none;
  background-color: red;
  flex: 0 0 3em;
  position: relative;
  cursor: pointer;
}
.menu-toggle__label {
  display: block;
  background-color: black;
  /* width: 100%; */
  height: 100%;
}
.menu-toggle__top-bread, .menu-toggle__meat, .menu-toggle__bottom-bread {
  display: block;
  background-color: #333;
  height: 0.2em;
  position: absolute;
  left: 0.5em;
  right: 0.5em;
}
.menu-toggle__top-bread {
  top: 0.8em;
}
.menu-toggle__meat {
  top: 50%;
  margin-top: -0.1em;
}
.menu-toggle__bottom-bread {
  bottom: 0.8em;
}
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }
}

.section-cards {
  background-color: #f1f2f3;
  padding: 2em;
}

.section-cards__header {
  padding: 1em;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
}/*# sourceMappingURL=main.css.map */