/***********************************
            HEADER
***********************************/
.main-header {
    display: flex;
    flex-direction: column;

    @media (max-width: 768px) {
        & {
            flex-direction: column-reverse;
        }
    }    

}

#menu {
    display: none;

    &:checked + .nav-bar {
        display: block;
    }
    
    &:checked ~ .search-bar .menu-toggle__label {
        background-color: yellow;
    }

}

/***********************************
            NAV BAR
***********************************/
.nav-bar {
    background-color: #f7f1f1;
    display: flex;
    justify-content: center;

    &__nav-list {
        display: flex;
        list-style-type: none;
        justify-content: center;


        @media (max-width: 768px) {
            & {
                flex-direction: column;
            }
        }

    }

    &__nav-item {
        text-align: center;
    }

    &__nav-link {
        display: block;
        color: #777777;
        padding: 1em;
        text-decoration: none;
        cursor: pointer;
        font-size: 1.2em;
    }

    &__nav-link:hover {
        color: #4CA686;
    }
    &__nav-link:active {color: purple;}



    @media (max-width: 768px) {
        & {
            display: none;
        }
    }    

}


/***********************************
            SEARCH BAR
***********************************/
.search-bar {
    background-color: #f7f1f1;
    display: flex;
    align-items: center;
    padding-left: 1em;
    color: rgb(80, 61, 61);

    &__name {color: #4CA686}

    &__logo-container,
    &__form-container {
        padding: 1em;
    }
    
    &__logo-container {
        background-color: #f7f1f1;
    }
    
    &__form-container {
        background-color: #f7f1f1;
        flex-basis: 100%;
        height: 4em;
        display: flex;
        justify-content: center;
    }
    
    &__form-label {
        background-color: #f7f1f1;
    
    }
    
    &__form-search {
        background-color: #f7f1f1;
        width: 12em;
        margin-left: 1em;
        margin-right: 1em;
        border-radius: 2px;
        box-shadow: 0 1px 5px rgba(0, 0, 0, .2), 0 0 3px rgba(0, 0, 0, .4);
        border: none;
    }
    &__form-search:focus
        {outline: none;}
    
    &__form-submit {
        background-color: #f7f1f1;
        border: none;
        cursor: pointer;
    }
    
    &__carrito-container {
        display: flex;
        padding: 1em;
        border:solid 2px;
        border-top: black;
        border-right: black;
        border-bottom: black;
        align-items: center;
        background-color: #f7f1f1;
        cursor: pointer;
    }

    @media (max-width: 320px) {
        & {}
     }
    


}


/***********************************
            MENU TOGGLE
***********************************/
.menu-toggle {
    display: none;
    background-color: red;
    flex: 0 0 3em;
    position: relative;
    cursor: pointer;



    &__label {
        display: block;
        background-color: black;
        /* width: 100%; */
        height: 100%;
    }
    
    &__top-bread,
    &__meat,
    &__bottom-bread {
        display: block;
        background-color: #333;
        height: .2em;
        position: absolute;
        left: .5em;
        right: .5em;
    }
    
    &__top-bread {
        top: .8em;
    }
    
    &__meat {
        top: 50%;
        margin-top: -.1em;;
    }
    
    &__bottom-bread {
        bottom: .8em;
    }
    

    @media (max-width: 768px) {
        & {
            display: block;
        }    
    }

}

