
.card {
    text-decoration: none;
    outline: none;
    flex-grow: 1;
    width: 220px;
    max-width: 300px;
    height: 410px;
    overflow: auto;
    color: #777777;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .2), 0 0 3px rgba(0, 0, 0, .4);
    border-radius: 9px;
    transition: all .3s;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5em;

    &:hover,
    &:focus {
        -moz-transform: scale(1.03);
        -webkit-transform: scale(1.03);
        transform: scale(1.03) skewX();
        -moz-transform-origin: bottom;
        -webkit-transform-origin: bottom;
        transform-origin: bottom;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    
    &__image-container {
        height: 200px;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 200px, 0 180px);
        clip-path: polygon(0 0, 100% 0, 100% 200px, 0 180px);
    }
    
    &:hover &__image-container,
    &:focus &__image-container {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 190px, 0 200px);
        clip-path: polygon(0 0, 100% 0, 100% 190px, 0 200px);
    }
    
    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: .2s;
    }
    
    &:hover &__image,
    &:focus &__image {
        transform: scale(1.4) rotate(5deg);
        transform-origin: center;
    }
    
    &__content {
        padding: 1em;
    }
    
    @media (max-width: 768px) {
        & {height: 429px;}
    }

    }

    .card__price {text-align: center;
    font-size: large;
    font-weight: bold;
    color: #777777}


    .card__button {
        background-color: #4CA686;
        border: 1px solid rgba(27, 31, 35, .15);
        border-radius: 6px;
        box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
        color: #fff;
        cursor: pointer;
        font-family: "Segoe UI",Helvetica,Arial,sans-serif;
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
        padding: 6px 16px;
        text-align: center;
        text-decoration: none;
        margin-top: auto;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 6px;
    }
    
    .card__button:hover {
        background-color: #349674;
    }
    
    .card__button:focus {
        box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
        outline: none;
    }
    
    .card__button:active {
        background-color: #298e46;
        box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
    }


