.body-form {
    background-color: #f7f1f1
}

.search-bar__name-mobile {
    display: none;
    color: #4CA686;
    margin-bottom: 0;

    @media (max-width: 425px) {
        
        & {display:block;}
    
    }
}

.form__contacto {
    @media (max-width: 425px) {
        
        & {width: 20%;}
    
    }
}

.contacto-title {
    margin-top: 1em;
    text-align: center;
}

.contacto-title__caption{
    text-align: center;
}

.contact-buttons {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    gap: 7em;
}
.contact-text {
    display: flex;
    justify-content: center;
    gap: 1em;
    color: #777777;
}