.body-form {
    background-color: #f7f1f1;
}

.search-bar__name-mobile {
    display: none;
    color: #4CA686;
    margin-bottom: 0;

    @media (max-width: 425px) {
        
        & {display:block;}
    
    }
}

.contact {
    &__title {
        margin-top: 1em;
        text-align: center;
    
        &__caption{
            text-align: center;
        }
    }
    &__buttons {
        margin-top: 1em;
        display: flex;
        justify-content: center;
        gap: 7em;
    }
    &__text {
        display: flex;
        justify-content: center;
        gap: 1em;
        color: #777777;
        text-align: center;
    }
    
    &__link {
        text-decoration: none;
        color: #2DC100;
        transition: all .2s ease-in-out;
        &:hover {
            transform: scale(1.1);
        }
    }

}



